.profile {
    display: block;
    width: 300px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;

    border: 2px solid darkgrey;
    box-shadow: 1px 1px 1px darkgray;
    border-radius: 10px;
}

.description {
    padding-top: 15px;
    padding-bottom: 15px;
}

.image {
    display: block;
    border-radius: 50%;

    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
}

.name {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

.tag,
.location {
    text-align: center;
    color: gray;
    font-size: 16px;
    margin: 0;
}

.stats {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 300px;
    list-style: none;
    border-top: 1px solid darkgray;
    margin-top: 0px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-bottom: 0;
    background-color: lightgrey;
}

.stats>li:not(:last-child) {
    border-right: 1px solid darkgray;
  }
  
  .stats>li {
      width: 79px;
      padding: 10px;
  }
  
  .label {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .value {
    display: block;
    font-weight: bold;
    color: black;
    text-align: center;
  }

  